.vector-icon2 {
  height: 17.5px;
  width: 13px;
}
.maharashtra1,
.vector-icon2 {
  position: relative;
}
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.vector-icon3 {
  height: 14px;
  width: 16px;
}
.beds1,
.vector-icon3 {
  position: relative;
}
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.vector-icon4 {
  height: 14px;
  width: 17px;
}
.baths1,
.vector-icon4 {
  position: relative;
}
.vector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.vector-icon5 {
  height: 14px;
  width: 14px;
}
.sq-ft1,
.vector-icon5 {
  position: relative;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.frame-container {
  flex-direction: row;
  gap: 20px;
}
.frame-container,
.frame-group,
.letstake-a-tour-text-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  flex-direction: column;
  gap: 25px;
}
.letstake-a-tour-text-inner {
  flex-direction: row;
  padding: 0 25px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: #000;
  font-family: Nunito;
}
