.for-sell1 {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  font-family: Nunito;
  color: #fff;
  text-align: center;
}
.for-sell-container {
  cursor: pointer;
  border: 0;
  padding: 5px 14px 4px 18px;
  background-color: #ff5a3c;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.for-sell-container:hover {
  background-color: #e64021;
}
.frame-inner {
  width: 37px;
  height: 37px;
  position: relative;
  object-fit: contain;
}
.frame-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 74px;
}
.frame-child1 {
  width: 33px;
  height: 33px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  flex-shrink: 0;
}
.group-icon {
  width: 37px;
  height: 37px;
  position: relative;
  object-fit: contain;
}
.frame-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 66px;
}
.frame-parent4 {
  align-self: stretch;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 25px 113px;
  background-image: url(/public/frame-71593@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  gap: 20px;
}
.affordable-green-villa {
  height: 25px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.affordable-green-villa-house-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24px;
}
.vector-icon7 {
  height: 19px;
  width: 13px;
  position: relative;
}
.div1 {
  height: 34px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.vector-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.letstake-a-tour-text-inner1,
.letstake-a-tour-text2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 25px;
  font-size: 25px;
  color: #ff5a3c;
}
.letstake-a-tour-text2 {
  width: 407px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 35px;
  box-sizing: border-box;
  gap: 20px;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-family: Nunito;
}
@media screen and (max-width: 450px) {
  .div1 {
    font-size: 20px;
  }
}
