.expertise-is-here,
.our-exclusive-agents {
  position: relative;
  font-weight: 600;
}
.our-exclusive-agents {
  margin: 0;
  height: 38px;
  font-size: 28px;
  font-family: inherit;
  color: #000;
  display: inline-block;
}
.text,
.text-wrapper {
  display: flex;
  justify-content: flex-start;
}
.text {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.text-wrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 30px;
}
.wrapper-ellipse-81-child {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.152);
}
.wrapper-ellipse-81 {
  height: 158px;
  width: 158px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.john-white {
  margin: 0;
  height: 30px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.john-white-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 7px;
}
.sunshine1 {
  height: 25px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #b1b1b1;
  display: inline-block;
}
.frame-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.text-icon {
  height: 22px;
  width: 17px;
  position: relative;
}
.call-96358725581 {
  width: calc(100% - 56px);
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Nunito;
  font-size: 18px;
  background-color: transparent;
  height: 25px;
  flex: 1;
  position: relative;
  color: #b1b1b1;
  text-align: center;
  display: inline-block;
  min-width: 92px;
}
.frame-parent7,
.text-parent {
  align-self: stretch;
  align-items: flex-start;
}
.text-parent {
  border-radius: 5px;
  border: 1px solid #ff3030;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 11px 20px 10px 19px;
  gap: 10px;
}
.frame-parent7 {
  flex-direction: column;
  gap: 15px;
}
.frame-parent7,
.vector-inner,
.vector1 {
  display: flex;
  justify-content: flex-start;
}
.vector-inner {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 8px;
  box-sizing: border-box;
  min-width: 143px;
}
.vector1 {
  width: 407px;
  flex-direction: row;
  align-items: flex-end;
  gap: 29px;
  max-width: 100%;
}
.property-image {
  font-size: 22px;
  color: #000;
}
.property-image,
.property-image1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.property-container,
.property-title {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.property-title {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.property-container {
  width: 1162px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 50px 0 20px;
  box-sizing: border-box;
  min-height: 579px;
  flex-shrink: 0;
  text-align: center;
  font-size: 18px;
  color: #ff5a3c;
  font-family: Nunito;
}
@media screen and (max-width: 1200px) {
  .property-title {
    gap: 60px;
  }
  .property-container {
    padding-right: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .property-image,
  .property-image1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .our-exclusive-agents {
    font-size: 22px;
  }
  .wrapper-ellipse-81-child {
    flex: 1;
  }
  .john-white {
    font-size: 18px;
  }
  .vector1 {
    flex-wrap: wrap;
  }
}
